<ul class="task-list">
  <li *ngFor="let task of allTasks" class="task-item">
    <div class="one-task">
      <span class="task-name" *ngIf="taskService.editTaskId !== task.id">
        <label class="checkbox-container">
          <input type="checkbox" name="completed" class="task-completed" [(ngModel)]="task.completed" (click)="toggleCompletion(task)">
          <span class="checkmark"></span>
        </label>
        <span [ngClass]="{ 'completed-task': task.completed }" class="task-text">
          {{ task.name }}
        </span>
      </span>
      
      <div *ngIf="taskService.editTaskId === task.id" class="edit-input">
        <p-floatLabel>
          <input pInputText type="text" id="editTaskInput" [(ngModel)]="taskService.editedTask" />
          <label for="editTaskInput">Edit Task</label>
        </p-floatLabel>      
        <div class="edit-buttons">
          <p-button (click)="saveTask()" icon="pi pi-save" severity="success"></p-button>
          <p-button (click)="cancel()" icon="pi pi-times" severity="warning"></p-button>
        </div>
      </div>
      
      <div class="action-buttons">
        <p-button (click)="editTask(task.id)" icon="pi pi-pen-to-square" *ngIf="taskService.editTaskId !== task.id && !task.completed" class="action-btn"></p-button>
        <p-button (click)="removeTask(task.id)" icon="pi pi-trash" severity="danger" class="action-btn"></p-button>
      </div>
    </div>
    
    <button class="details-button" pButton (click)="taskService.toggleDetails(task.id)" [label]="taskService.selectedTaskId === task.id && taskService.showDetails ? '- Hide Task Details' : '- View Task Details'"></button>
    
    <div class="status" *ngIf="taskService.isDetailsVisible(task.id)">
      <app-todo-details [task]="task"></app-todo-details>
    </div>
  </li>
</ul>
