<div class="image-container">
  <div class="glass-morphism">
    <p-card class="main-container" header="To Do List App" [style]="{ height: '90vh' }">
      <div class="input-container">
        <input 
          id="task-input" 
          pInputText 
          type="text" 
          placeholder="Click Here To Add A New Task" 
          variant="filled" 
          (click)="openModal()" 
          required 
          [style]="{ width: '100%', margin: '10px 0' }"
        />
      </div>
    
      <p-menubar [model]="items" (onFocus)="activeMenu($event)" ></p-menubar>
      <router-outlet></router-outlet>
    </p-card>
  </div>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <p-dialog 
    header="Add New Task" 
    [(visible)]="showModal" 
    [modal]="true" 
    [closable]="true" 
    (onHide)="closeModal()"
  >
    <app-add-task 
      (taskAdded)="addTask($event.title, $event.description, $event.deadline)"
      (closeIt)="closeModal()">
    </app-add-task>
  </p-dialog>
</div>
