/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Other specific styles for your application */

